<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div ng-controller="loginController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                     <div class="page-header">
                        <h3>Criar Usuário</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" ng-submit="createUser()">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Nome de usuário</label>
                             <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Informe o seu nome de usuário" ng-model="user.username" required>
                            </div>
                        </div>

                    <div class="form-group">
                      <label for="inputNickname" class="col-sm-2 control-label">Apelido</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputNickname" placeholder="Informe o seu apelido" ng-model="user.nickname" required>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputPassword" placeholder="Informe a sua senha" ng-model="user.password" required>
                        </div>
                      </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Criar</button>
                      </div>
                    </div>
                  </form>
            </div>
          </div>
       </div>
</body>
</html>